<form nz-form [formGroup]="form" (ngSubmit)="submit()" role="form">
  <nz-tabs [nzAnimated]="false" class="tabs" (nzSelectChange)="switch($event)">
    <nz-tab [nzTitle]="'Credentials'">
      @if (error) {
        <nz-alert [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg" />
      }
      <nz-form-item>
        <nz-form-control nzErrorTip="Please enter mobile number, muse be: admin or user">
          <nz-input-wrapper>
            <nz-icon nzInputPrefix nzType="user" />
            <input nz-input nzSize="large" formControlName="userName" autocomplete="username" placeholder="username: admin or user" />
          </nz-input-wrapper>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please enter password, muse be: ng-alain.com">
          <nz-input-wrapper>
            <nz-icon nzInputPrefix nzType="lock" />
            <input
              nz-input
              nzSize="large"
              type="password"
              formControlName="password"
              autocomplete="current-password"
              placeholder="password: ng-alain.com"
            />
          </nz-input-wrapper>
        </nz-form-control>
      </nz-form-item>
    </nz-tab>
    <nz-tab [nzTitle]="'Mobile number'">
      <nz-form-item>
        <nz-form-control [nzErrorTip]="mobileErrorTip">
          <nz-input-wrapper>
            <nz-icon nzInputPrefix nzType="user" />
            <input nz-input nzSize="large" formControlName="mobile" placeholder="mobile number" />
          </nz-input-wrapper>
          <ng-template #mobileErrorTip let-i>
            @if (i.errors.required) {
              Please enter your phone number!
            }
            @if (i.errors.pattern) {
              Malformed phone number!
            }
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="'Please enter the verification code!'">
          <nz-row [nzGutter]="8">
            <nz-col [nzSpan]="16">
              <nz-input-wrapper>
                <nz-icon nzInputPrefix nzType="mail" />
                <input nz-input nzSize="large" formControlName="captcha" placeholder="captcha" />
              </nz-input-wrapper>
            </nz-col>
            <nz-col [nzSpan]="8">
              <button type="button" nz-button nzSize="large" (click)="getCaptcha()" [disabled]="count >= 0" nzBlock [nzLoading]="loading">
                {{ count ? count + 's' : 'Get code' }}
              </button>
            </nz-col>
          </nz-row>
        </nz-form-control>
      </nz-form-item>
    </nz-tab>
  </nz-tabs>
  <nz-form-item>
    <nz-col [nzSpan]="12">
      <label nz-checkbox formControlName="remember">Remember me</label>
    </nz-col>
    <nz-col [nzSpan]="12" class="text-right">
      <a class="forgot" routerLink="/passport/register">Forgot your password?</a>
    </nz-col>
  </nz-form-item>
  <nz-form-item>
    <button nz-button type="submit" nzType="primary" nzSize="large" [nzLoading]="loading" nzBlock> Login </button>
  </nz-form-item>
</form>
<div class="other">
  Sign in with
  <nz-icon nzType="alipay-circle" nz-tooltip nzTooltipTitle="in fact Auth0 via window" (click)="open('auth0', 'window')" class="icon" />
  <nz-icon nzType="taobao-circle" nz-tooltip nzTooltipTitle="in fact Github via redirect" (click)="open('github')" class="icon" />
  <nz-icon nzType="weibo-circle" (click)="open('weibo', 'window')" class="icon" />
  <a class="register" routerLink="/passport/register">Sign up</a>
</div>
