@import '@delon/theme/system/index.less';
@import '@delon/abc/index.less';
@import '@delon/chart/index.less';
@import '@delon/theme/layout-default/style/index.less';
@import '@delon/theme/layout-blank/style/index.less';
@import './styles/index.less';
@import './styles/theme.less';

body.theme-light {
  color: #1f1f1f;
  background: #f5f5f5;
}

body.theme-dark {
  color: #fff;
  background: #141414;
}

body.theme-dark .ant-drawer-content,
body.theme-dark .ant-drawer-body,
body.theme-dark .ant-drawer-header,
body.theme-dark .setting-item,
body.theme-dark .setting-item > label,
body.theme-dark .ant-radio-wrapper,
body.theme-dark h3 {
  color: #fff !important;
}

// body.theme-dark h3,
// body.theme-dark .setting-item > label,
// body.theme-dark .ant-radio-wrapper {
//   color: #fff;
// }

body.theme-dark .ant-layout {
  background: #141414;
}

body.theme-dark .ant-layout-header {
  background: #1f1f1f;
}

body.theme-dark .ant-layout-sider {
  background: #001529;
}

body.theme-dark .ant-card {
  color: #fff;
  background: #1f1f1f;
}
